body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(fondo.jpg) center center;
    background-size: cover;
}

.contenedor{
    
    padding: 50px;
    background-color: aliceblue;
    
   
}




